$white: #ffffff;
$pear: #DCED31;
$olive: #728309;
$pakistan-green: #0F3F00;
$field-drab: #6D6500;
$brown: #8D5923;
$rich-black: #0B091E;
$black: #000000;


.text-pear {
    color: $pear !important;
}

.bg-brown {
    background-color: $brown;
}

.bg-rich-black {
    background-color: $rich-black;
}