header {
    a.navbar-brand {
        color: $pear;
        font-family: $poppins;
        font-size: 1.5rem;

        span {
            font-size: 3rem;
        }

        &:hover {
            cursor: pointer;
        }
    }

    ul.navbar-nav {
        a.nav-link {
            color: $pear !important;
            font-family: $poppins;
            font-weight: 500;

            &:hover, &.hover {
                color: darken($color: $pear, $amount: 20%) !important;
            }

            &:active, &.active {
                color: darken($color: $pear, $amount: 25%) !important;
            }
        }
    }
}